<div class="profilepic">
  <script src="<%- config.root %>js/md5.js"></script>
  <script type="text/javascript">
    $(function(){
	$('.profilepic').append(
          "<img src='/assets/avatar.jpg' alt='Profile Picture'/>");
    });
  </script>
</div><!-- profilepic -->
<h1><a href="<%- config.root %>"><%= config.author %></a></h1>
<nav id="main-nav">
  <% if(config.subtitle) { %>
  <section class="aboutme">
    <p>
      <%= config.subtitle %>
    </p>
  </section>
  <% } %>
  <ul class="main">
    <% for (var i in theme.menu.page) { %>
      <li>
      <a href="<%- config.root %><%- theme.menu.page[i] %>"><%= i %></a>
      </li>
    <% } %>
  </ul>
</nav><!-- main-nav -->
<nav id="sub-nav">
  <div class="social">
    <% if(theme.social.weibo) { %>
      <a class="weibo" href="http://weibo.com/u/<%- theme.weibo.userid %>"
         title="weibo">weibo</a>
    <% } %>
    <% if(theme.social.facebook) { %>
      <a class="facebook" href="https://www.facebook.com/<%- theme.facebook.username %>"
         title="Facebook">Facebook</a>
    <% } %>
    <% if(theme.social.twitter) { %>
      <a class="twitter" href="https://twitter.com/<%- theme.twitter.username %>"
         title="Twitter">Twitter</a>
    <% } %>
    <% if(theme.social.github) { %>
      <a class="github" href="https://github.com/<%- theme.github.username %>"
         title="Github">Github</a>
    <% } %>
    <% if(theme.social.rss) { %>
        <a class="rss" href="<%- config.root%>atom.xml" title="RSS">RSS</a>
    <% } %>
  </div>
</nav><!-- sub-nav -->
